* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  z-index: 9999;
}
#hero {
  background-image: url(../src/assets/images/homepage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
}

main {
  min-height: 100vh;
}
