* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  z-index: 9999;
}

#hero {
  background: url(../src/assets/images/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#opaque {
  background: rgb(247, 247, 247, 0.5);
}

main {
  min-height: 83vh;
}
